@charset "UTF-8";

@media screen and (max-width: 480px){
    body{
        max-width: 100%;
    }
    .header{
        max-width: 480px;
        width: 100%;
        margin: auto;
        padding: 10px;
    }
    nav {
        display: flex;
        flex-shrink: 2;
        gap: 2px;
        padding: 10px;
    }
    nav a {
        font-size: 15px;
        font-weight: 250;
        
    }
    main{
        max-width: 480px;
        margin: 0;
    }

    .section-home{
        height: auto;
        padding: 40px;
        background-position: right bottom;
    }
    
    #titulo-home{
        font-size: 32px;
    }

    #paragrafo-home{
        font-size: 18px;
    }

    .titulo-servicos{
        font-weight: 200;
        font-size: 26px;
    }
    
    .section-produtos{
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        padding: 48px;
        gap: 20px;
    }
    
    #titulo-produtos{
        font-size: 32px;
    }
    #container-texto-produto{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    #paragrafo-produtos{
        font-size: 16px;
        text-align: center;
    }
    
    .foto-produtos{
        height: 100px;
    }

    .section-dicas{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 48px;
    }
    
    .texto-dicas{ /*criar classe*/
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    #titulo-dicas{
        font-size: 26px;
    }

    #paragrafo-dicas{
        font-size: 18px;
        
    }

    .section-contato{
        padding: 30px;
    }

    #titulo-contato{
        font-size: 28px;
    }

    #mapa-mapa{
        width: 300px;
    }
    #botao-up{
        right: 20px;
        padding: 15px;
    }
}
