/*CONFIGURAÇÕES GLOBAIS*/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');
@font-face {
    font-family: 'flavor', sans-serif;
    src: url(../fontes/flavor-sans.otf);
}

:root{ /*VARIAVEIS*/
    --fonte-padrao: 'Sarala', sans-serif;
    --fonte-destaque: 'Righteous', cursive;
    --fonte-destaque2: 'flavor', sans-serif;

    --cor1: #D98F95;
    --cor2: #F95A67;
    --cor3: #F7A3AA;
    --cor4: #782B32;
    --cor5: #C48287;
    --cor6: #f3c5c9;
    --cor7: #551f24;
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background: linear-gradient(68.15deg, #782B32 10%, #D98F95 85.61%, #F7A3AA);
    background-attachment: fixed;
    font-size: 100%;
    height: 100vh;
}

/*<<<<<<< CABEÇALHO >>>>>>>*/
.header{
    display: flex;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: #782b31c4;
}

.logo-header{
    height: 95px;
    border-radius: 50%;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    font-family: var(--fonte-destaque);
    color: var(--cor3);
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
}

nav a:hover{
    background-color: var(--cor6);
    color: var(--cor4);
    border-radius: 10px;
    transition: 0.8s;
    box-shadow: 1px 1px 1px #00000029;
}

/*<<<<<<< MAIN >>>>>>>>>>>*/

.main{
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 40px;
    /* max-width: 1000px;
    min-width: 300px;
    margin: auto; */
}

.section-home{
    background-image: url(../imagens/fundo-home.jpg);
    background-position: top right;
    background-attachment: fixed;
    height: 300px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 80px;
}

#titulo-home{
    font-family: var(--fonte-destaque);
    font-size: 45px;
    color: var(--cor4);
    font-weight: 350;
}

#titulo-home:hover{
    color: var(--cor2);
}

#paragrafo-home{
    font-family: var(--fonte-padrao);
    color: var(--cor7);
    font-size: 25px;
    font-weight: 300;
}

.section-servicos{
    padding: 20px;
    height: 300px;
    border-top: 0.4px solid #fff2e7; 
}

.titulo-servicos{
    font-family: var(--fonte-destaque);
    color: var(--cor6);
    font-weight: 250;
    font-size: 32px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.section-servico-itens{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 32px;
}

.foto-servico{
    height: 100px;
    border-radius: 15px;
}

.servico-especifico{
    font-family: var(--fonte-padrao);
    color: var(--cor6);
    font-weight: 200;
    font-size: 15px;
    text-align: center;
}

.section-produtos{
    border-top: 0.4px solid #fff2e7;
    background-image: url(../imagens/fundo-4.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#titulo-produtos{
    font-family: var(--fonte-destaque);
    color: var(--cor4);
    font-size: 40px;
    font-weight: 300;
}

#paragrafo-produtos{
    font-family: var(--fonte-padrao);
    color: var(--cor7);
    font-size: 20px;
}

.container-fotos-prod{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 15px;
}
.foto-produtos{
    height: 150px;
    border-radius: 20px;

}

.section-dicas{
    border-top: 0.4px solid #fff2e7;
    height: 300px;
    /* background-image: url(../imagens/fundo-5.jpg);
    background-position: right center; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

#titulo-dicas{
    font-family: var(--fonte-destaque);
    color: var(--cor6);
    font-size: 40px;
    font-weight: 300;
}

#paragrafo-dicas{
    font-family: var(--fonte-padrao);
    color: var(--cor7);
    font-size: 20px;
    font-weight: 300;
}

#foto-dicas{
    height: 200px;
    border-radius: 20px;
}