/*CONFIGURAÇÕES GLOBAIS*/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

:root{ /*VARIAVEIS*/
    --fonte-padrao: 'Sarala', sans-serif;
    --fonte-destaque: 'Righteous', cursive;

    --cor1: #D98F95;
    --cor2: #F95A67;
    --cor3: #F7A3AA;
    --cor4: #782B32;
    --cor5: #C48287;
    --cor6: #f3c5c9; 
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background: linear-gradient(68.15deg, #782B32 10%, #D98F95 85.61%, #F7A3AA);
    background-attachment: fixed;
    font-size: 100%;
    height: 100vh;
}

/*-------- CABEÇALHO --------*/
.header{
    display: flex;
    flex-direction: row;
    padding: 24px;
    align-items: center;
    justify-content: space-around;
    background-color: #782b31c4; /*testando*/
    height: 200px;
    /* background-image: url(imagens/header.png);
    background-repeat: no-repeat;
    background-position: right top; */
    
}

.logo-header{
    height: 100px;
    border-radius: 50%;
}

nav {
    display: flex;
    gap: 32px;
}

nav a{
    font-family: var(--fonte-destaque);
    color: var(--cor3);
    font-size: 18px;
    font-weight: 400;
}

nav a:hover{
    background-color: var(--cor5);
    color: var(--cor4);
    border-radius: 10px;
    transition: 0.5s;
    padding: 3px;
    box-shadow: 1px 1px 1px #00000029;
}

/*-------- MAIN --------*/
.main{
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 40px;
}

.section-home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 30px; */
    background: linear-gradient(var(--cor4), var(--cor2), to top);
}

.titulo-home{
    /*display: flex;
    align-self: flex-start;*/ /*CONSEGUI COLOCAR PRA CIMAAAA*/
    /* flex-shrink: 2; */
    font-family: var(--fonte-destaque);
    font-size: 32px;
    color: var(--cor6);
    font-weight: 300;
}*/

.itens-home{
    display: flex;
    flex-flow: column;
    font-family: var(--fonte-padrao);
}

#pa{
    font-family: var(--fonte-padrao);
}

.foto-home{
    height: 250px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #00000029;
}

.section-servicos{
    padding: 20px;
}

.titulo-servicos{
    /* border-top: 0.4px solid #FFF2E7;  */
    font-family: var(--fonte-destaque);
    color: var(--cor6);
    font-weight: 250;
    font-size: 28px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.section-servico-itens{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 32px;
}

.foto-servico{
    height: 100px;
    border-radius: 15px;
}

.servico-especifico{
    font-family: var(--fonte-padrao);
    color: var(--cor6);
    font-weight: 200;
    font-size: 15px;
    text-align: center;
}